$display: "Barlow Condensed", sans-serif;
$body: "Roboto", sans-serif;

:root {
  --black: #333;
  --dark-gray: #434343;
  --mid-gray: #777;
  --mid-gray1: #888;
  --mid-gray2: #aaa;
  --light-gray: #e4e4e4;
  --soft-white: #eee;
  --yellow: #fb1;
}

/*------------------------------ svg styles */
.icon {
  &.gray-yellow {
    fill: var(--yellow);
    color: var(--dark-gray); //currentColor
  }
  &.white-yellow {
    fill: var(--soft-white);
    color: var(--yellow);
  }
  &.dark-gray {
    fill: var(--dark-gray);
  }
}

.soft-white {
  fill: var(--soft-white);
}

.yellow {
  fill: var(--yellow);
  color: var(--yellow);
}
