$display: "Barlow Condensed", sans-serif;
$body: "Roboto", sans-serif;

:root {
  --black: #333;
  --dark-gray: #434343;
  --mid-gray: #777;
  --mid-gray2: #aaa;
  --soft-white: #eee;
  --yellow: #fb1;
}
