html {
  font-size: 15px;
  font-family: $body;
}

body {
  // font-size: 15px;
  font-family: $body;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  color: var(--mid-gray);
  letter-spacing: 0.03em;

  // &.preload * {
  //   transition: none !important;
  // }
}

h1,
h2,
h3 {
  text-transform: uppercase;
  font-family: $display;
  color: var(--black);
}

p {
  line-height: 2;
  font-weight: 300;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  > * {
    max-width: 100%;
  }
}

cite {
  font-style: italic;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4.5px;
  margin-bottom: 3rem;
  margin-top: 0;
}

.section-title:after {
  content: " ";
  display: block;
  width: 50px;
  height: 3px;
  background: var(--yellow);
  margin: 1.5rem auto 0;
}

/*------------------------------ svg styles */

.soft-white {
  fill: var(--soft-white);
}

.yellow {
  fill: var(--yellow);
  color: var(--yellow);
}
