.pad-7 {
  padding: 7%;
}

.content-inner-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-thirds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  // grid-column-gap: 3.5%;
  grid-column-gap: 2.5rem;
  grid-row-gap: 3rem;
}

// .flex-grid-thirds .col {
//   width: 31%;
// }

.flex-grid-fourths {
  display: flex;
  justify-content: space-between;
}

.flex-grid-fourths .col {
  width: 23%;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
