.pad-7 {
  padding: 7%;
}

.content-inner-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.grid-thirds {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3rem;
  grid-row-gap: 5rem;
}

.grid-fourths {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 4rem;
  grid-column-gap: 2.5rem;

  .col {
    max-width: 265px;
    margin: 0 auto;
  }
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
}
