// *****************************************temp
.temp {
  // background: rgba(255, 255, 255, 0.4);
  // color: black;
  color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
}
// *****************************************temp

.img-wrapper {
  &.overflow {
    overflow: hidden;

    .slide-up:hover {
      transform: scale(1.05);
      transition: transform 0.5s;
    }
  }

  img {
    width: 100%;
  }
}

.work-item > img {
  width: 100%;
}

.work-title {
  font-size: 1.466rem;
  letter-spacing: 0.12em;
  margin: 1.25em 0 0.75em;
  font-weight: 600;

  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--yellow);
    margin: 0.75em 0;
  }
}

/*------------------------------ slide up animation */

.slide-up {
  opacity: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(30%);

  &.active {
    transform: translateY(0%);
    opacity: 1;
    &.finished {
      transition-delay: 0s;
    }
  }
}

/* delay 1 */
.grid-thirds .work-item:nth-of-type(2) .slide-up,
.grid-thirds .work-item:nth-of-type(5) .slide-up {
  transition-delay: 0.25s;
  &.finished {
    transition-delay: 0s;
  }
}

/* delay 2 */
.grid-thirds .work-item:nth-of-type(3) .slide-up,
.grid-thirds .work-item:nth-of-type(6) .slide-up {
  transition-delay: 0.5s;
  &.finished {
    transition-delay: 0s;
  }
}
