.work-title {
  font-size: 1.466rem;
  letter-spacing: 0.12em;
  margin: 1.25em 0 0.75em;
  font-weight: 600;

  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--yellow);
    margin: 0.75em 0;
  }
}

/*------------------------------ slide up animation */
.img-wrapper {
  position: relative;

  &.overflow {
    overflow: hidden;
  }

  img {
    width: 100%;
  }
}

.slide-up {
  opacity: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateY(30%);

  &.active {
    transform: translateY(0%);
    opacity: 1;
  }

  // prevent <a> from adding space below image
  img {
    display: block;
  }

  // Avoid empty images to appear as broken
  img:not([src]):not([srcset]) {
    visibility: hidden;
  }
}

.work-item {
  .slide-img {
    transition: transform 1s, opacity 0.5s;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    &:hover {
      transform: scale(1.05);
    }
    &.loaded {
      opacity: 1;
    }
    &.visible {
      opacity: 1;
      transition: transform 1s, opacity 0s;
    }
  }
}

/* delay 1 */
.grid-thirds .work-item:nth-of-type(2) .slide-up,
.grid-thirds .work-item:nth-of-type(5) .slide-up {
  transition-delay: 0.25s;
}

/* delay 2 */
.grid-thirds .work-item:nth-of-type(3) .slide-up,
.grid-thirds .work-item:nth-of-type(6) .slide-up {
  transition-delay: 0.5s;
}

/*------------------------------ tool icons */
$icon-size: 30px;

.dev-tools {
  margin-top: 1rem;
  display: flex;
  align-items: center;

  .icon-container {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    height: $icon-size;

    &:hover {
      .icon {
        transform: scale(1);
      }
    }

    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }

  .icon {
    width: $icon-size;
    height: $icon-size;
    transform: scale(0.85);
    transition: transform 0.3s;

    use {
      pointer-events: none;
    }
  }

  .firebase-icon {
    width: 23px;
  }

  .node-icon {
    width: 27px;
  }

  .googlemaps-icon {
    width: 21px;
  }

  .foursquare-icon {
    width: 22px;
  }

  .css-icon,
  .html-icon {
    width: 27px;
  }

  .unsplash-icon {
    width: 28px;
    height: 28px;
  }

  /*------------------------------ tooltip */
  .tooltip {
    &:before,
    &:after {
      --arrow-size: 6px;
      --offset: 2px;
      position: absolute;
      transition: 0.3s transform, 0.3s opacity;
      transform-origin: bottom center;
      pointer-events: none;
      opacity: 0;
    }

    &:before {
      content: attr(data-tooltip);
      color: white;
      padding: 0.4rem 0.5rem;
      border-radius: 0.25rem;
      text-align: center;
      width: max-content;
      background: var(--mid-gray);
      font-size: 0.875rem;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
      top: calc(-100% + (var(--arrow-size) / 2) - var(--offset));
    }

    &:after {
      top: calc(-1 * var(--offset));
      content: "";
      border: var(--arrow-size) solid transparent;
      border-top-color: var(--mid-gray);
    }

    &:hover:before,
    &:hover:after {
      opacity: 1;
      transform: translateY(-10px);
    }
  }
}

@media (max-width: 530px) {
  .dev-tools {
    .icon-container:first-of-type {
      &:hover {
        .tooltip {
          left: 0;

          &:before {
            left: 17px;
          }
        }
      }
    }
  }
}

// prevent firefox from displaying broken link while images loading
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}
