// .work-item img:hover {
//   transform: scale(1.05);
//   transition: transform 0.5s;
// }

.img-wrapper {
  position: relative;
  &.overflow {
    overflow: hidden;
    .slide-up:hover {
      transform: scale(1.05);
      transition: transform 0.5s;
    }
  }

  img {
    width: 100%;
  }
}

.button {
  padding: 15px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  border: 2px solid var(--dark-gray);
  font-size: 12px;
  border-radius: 3px;
  font-family: $body;
  text-decoration: none;
  color: var(--dark-gray);
  background: transparent;
  cursor: pointer;
  transition: background 0.5s ease;
  display: inline-block;

  &:hover {
    background: var(--dark-gray);
    color: white;
  }
}

.button-container {
  margin-top: 1.5em;
}

.work-item > img {
  width: 100%;
}

.work-title {
  font-size: 22px;
  letter-spacing: 0.12em;
  margin: 1.25em 0 0.75em;
  font-weight: 600;

  &:after {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: var(--yellow);
    margin: 0.75em 0;
  }
}

/*------------------------------ slide up animation */

.slide-up {
  opacity: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: transform 0.5s ease, opacity 0.5s ease, blur 3.5s ease-in;
  -webkit-transition: transform 0.5s ease, opacity 0.5s ease, blur 3.5s ease-in;
  transform: translateY(30%);

  &.active {
    transform: translateY(0%);
    opacity: 1;
    &.finished {
      transition-delay: 0s;
    }
  }
}

.placeholder {
  position: absolute;
  opacity: 1;
  z-index: 1;
  transition: opacity 2s ease;
  &.loaded {
    opacity: 0;
    pointer-events: none;
  }
}

/* delay 1 */
.grid-thirds .work-item:nth-of-type(2) .slide-up,
.grid-thirds .work-item:nth-of-type(5) .slide-up {
  transition-delay: 0.25s;
  &.finished {
    transition-delay: 0s;
  }
}

/* delay 2 */
.grid-thirds .work-item:nth-of-type(3) .slide-up,
.grid-thirds .work-item:nth-of-type(6) .slide-up {
  transition-delay: 0.5s;
  &.finished {
    transition-delay: 0s;
  }
}
