.mission-container {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  // 1) fallback option for browsers that don’t support the image-set attribute. This must come first
  background: url("../img/mission_bkd.jpg");
  // 2) image-set: serve webP to supported browsers and png fallback for others
  background-image: -webkit-image-set(
    url("https://dummyimage.com/1440x900/7facab/fff.webp") 1x,
    url("https://dummyimage.com/2880x1800/7facab/fff.webp") 2x
  );
  background-image: image-set(
    url("https://dummyimage.com/1440x900/7facab/fff.png") 1x,
    url("https://dummyimage.com/2880x1800/7facab/fff.png") 2x
  );
}

.mission-inner {
  background: #43434366;
  color: white;
  text-align: center;
  padding-top: 9%;
  padding-bottom: 9%;
  transition: padding 0.3s;
}

.mission-head {
  display: flex;
  justify-content: center;
  align-items: center;

  > .cursor {
    height: 1.25rem;
    position: relative;
    top: -0.07rem;
  }
}

.mission-title {
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 0;
  transition: font-size 0.3s;
}

.mission-text {
  font-family: $body;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 2.5px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.75);
  margin: 3rem auto 0;
  max-width: 975px;
  transition: font-size 0.3s;
}
