.services-item {
  text-align: center;

  > img {
    height: 85px;
  }
}

.services-title {
  font-size: 20px;
  letter-spacing: 0.1em;
  margin: 1.25em 0 0.75em;
  font-weight: 600;
}

.flex-grid-fourths .services-item:nth-of-type(2) .slide-up {
  transition-delay: 0.25s;
}
.flex-grid-fourths .services-item:nth-of-type(3) .slide-up {
  transition-delay: 0.5s;
}
.flex-grid-fourths .services-item:nth-of-type(4) .slide-up {
  transition-delay: 0.75s;
}
